<div class="projects">
  <div class="container">
    <div class="projects-header">
      <h1>My Latest Works <fa-icon [icon]="faCircleArrowDown"></fa-icon></h1>
    </div>
    <div class="projectList">
      <div class="project" *ngFor="let project of projects; let i = index">
        <div class="project-image">
          <div class="project-title-buttons">
            <h3 class="projectTitle">{{ project.name }}</h3>
          </div>

          <!-- Afficher l'image selon l'index courant -->
          <img [src]="project.images[currentImageIndex[i]]" alt="Project Image" />

          <div class="overlay">
            <h3>{{ project.name }}</h3>

            <div class="project-buttons">
              <button (click)="goToGithub(project.githubLink)">
                <fa-icon [icon]="faGithub"></fa-icon> 
              </button>
              <!-- <button class="play-btn">
                <fa-icon [icon]="faYoutube"></fa-icon>
              </button> -->
            </div>
            <div class="project-description">
              <p>{{ project.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
