<div class="projects">
    <div class="title">
      <h1>MY WORK</h1>
    </div>
    <div class="project-list">
      <div *ngFor="let project of projects" class="project-item">
        <img [src]="project.img" alt="{{ project.name }}" />
        <div class="text-overlay">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <button>
            <fa-icon [icon]="faGithub"></fa-icon> GitHub
          </button>
        </div>
      </div>
    </div>
  </div>
  