<!-- app.component.html -->
<div class="main-container">
  <div class="navbar">
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>
    <div class="menu" [ngClass]="{ show: isMenuOpen }">
      <ul>
        <li [ngClass]="{ active: currentSection === 'home' }">
          <a (click)="scrollToSection('home')">Home</a>
        </li>
        <li [ngClass]="{ active: currentSection === 'about' }">
          <a (click)="scrollToSection('about')">About</a>
        </li>
        <li [ngClass]="{ active: currentSection === 'service' }">
          <a (click)="scrollToSection('service')">Services</a>
        </li>
        <li [ngClass]="{ active: currentSection === 'projects' }">
          <a (click)="scrollToSection('projects')">Projects</a>
        </li>
        <li class="contact">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSd-qeerhpB-5grC0uNMbtM4vRkK4itVoKfyMn3tV0avP7R-yA/viewform?usp=sf_link"
            >Contact Me</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="sections">
    <div id="home" class="section">
      <app-home></app-home>
    </div>
    <div id="about" class="section">
      <app-about></app-about>
    </div>
    <div id="service" class="section">
      <app-services></app-services>
    </div>

    <div id="projects" class="section">
      <app-projects></app-projects>
    </div>

    <div id="footer" class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Contact</h3>
          <p>
            Email: <a href="mailto:example@example.com">exampleexample.com</a>
          </p>
          <p>Phone: +123 456 7890</p>
        </div>
        <div class="footer-section">
          <h3>Follow Me</h3>
          <a
            href="https://github.com/your-profile"
            target="_blank"
            class="social-icon"
          >
            <fa-icon size="2x" [icon]="faGithub"></fa-icon>
          </a>
          <a
            href="https://facebook"
            target="_blank"
            class="social-icon"
          >
            <fa-icon size="2x" [icon]="faFacebook"></fa-icon>
          </a>
          <a
            href="https://www.linkedin.com/in/your-profile"
            target="_blank"
            class="social-icon"
          >
            <fa-icon size="2x" [icon]="faLinkedin"></fa-icon>
          </a>
        </div>
        <div class="footer-section">
          <h3>Owner</h3>
          <p>© 2024 Andriamihaja Harentsoa Toavina. All rights reserved.</p>
          <p><a (click)="scrollToSection('home')">Back to Top</a></p>
        </div>
      </div>
    </div>

    
  </div>
</div>
