:root {
    --primary-color: #000; /* Noir */
    --secondary-color: #555; /* Gris moyen */
    --background-color: #fff; /* Blanc */
    --text-color: #000; /* Noir pour le texte */
    --hover-color: #333; /* Gris foncé pour les hover */
  }
  
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home p {
    text-align: center;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2%;
  }
  
  .img-ct {
    height: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-ct img {
    height: 400px;
    width: 400px;
    border-radius: 200px;
    border: none;
    transition: border-color 1s;
  }
  
  .border {
    border: var(--secondary-color) 5px dotted;
    transition: border-color 1s;
  }
  
  .cta {
    height: 100%;
    flex-basis: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .cta h1 {
    font-size: 5rem;
    color: var(--primary-color);
  }
  
  .cta p {
    font-size: 2rem;
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  .actions {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions button {
    padding: 15px;
    border-radius: 15px;
    background: var(--primary-color);
    border: none;
    font-size: 20px;
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .actions button:hover {
    background: gray;
    transform: scale(1.005);
  }
  
  a {
    color: var(--secondary-color);
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: var(--hover-color);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .home {
      height: auto;
      padding: 20px;
    }
  
    .container {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  
    .img-ct {
      flex-basis: auto;
      margin-bottom: 20px;
    }
  
    .img-ct img {
      height: 300px;
      width: 300px;
    }
  
    .cta h1 {
      font-size: 3rem;
    }
  
    .cta p {
      font-size: 1.5rem;
    }
  
    .actions {
      margin-top: 20px;
      flex-direction: column;
    }
  
    .actions button {
      font-size: 16px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .home {
      padding: 10px;
    }
  
    .img-ct {
      margin-bottom: 10px;
    }
  
    .img-ct img {
      height: 200px;
      width: 200px;
    }
  
    .cta h1 {
      font-size: 2rem;
    }
  
    .cta p {
      font-size: 1rem;
    }
  
    .actions {
      margin-top: 10px;
    }
  
    .actions button {
      font-size: 14px;
      padding: 8px;
    }
  }
  