:root {
  --primary-color: #000; /* Noir pour les titres */
  --secondary-color: #555; /* Gris moyen pour les liens */
  --background-color: #fff; /* Blanc pour le fond */
  --text-color: #000; /* Noir pour le texte */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  transition: color 0.3s ease; /* Ajout d'une transition pour un effet de hover doux */
}

a:hover {
  color: var(--primary-color); /* Noir au survol */
}
